{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/abc.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="ABC-(Appa Balvant Chowk)"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.273761205762!2d73.85167477394548!3d18.516526982576234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1e4987544ab%3A0x301719918e4edb5!2sABC%20Books%20Market!5e0!3m2!1sen!2sin!4v1682962910386!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Appa Balwant Chowk or ABC known as the open street library of Pune.
                Situated at NC Kelkar Road, in Budhwar Peth.
                The crossroad has book stores - big and small, at every possible nook-and-corner.
                Competitive exam books to bestsellers, recipe books to literature, whatever it is that you are seeking, you shall find at ABC at wholesale rates.
                A must visit place for booklovers.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
