{%extends 'base.html'%}
{%block title%} HOLIDAY HUNT {%endblock title%}

{%block body%}

<div class="container">
  <div class="col-md-12" >
    <br><br>
    <li><a href="">KUNAL KAMAT</a></li>
    <br><br><br>
    <li><a href="">GAYATRI KULKARNI</a></li>
    <br><br><br>
    <li><a href="https://www.linkedin.com/in/kaustubh-korpe-2582b822a">KAUSTUBH KORPE</a></li>
    <br><br><br>
   <li> <a href="https://www.linkedin.com/in/prajwal-khedkar-23625a273">PRAJWAL KHEDKAR</a></li>
   <br><br><br>
    <li><a href="">AJINKY KOKEWAR</a></li>
  </div>
</div>

{%endblock body%}