{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/amanoramall.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Amanora Mall"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.2264972377016!2d73.9316216739456!3d18.518664082574467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c112a2e6836d%3A0xdf293a5408bc72bc!2sAmanora%20Mall!5e0!3m2!1sen!2sin!4v1682963496473!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Amanora Mall is one of the biggest shopping malls in Pune 
                Covering a spacious 1.2 million sq. feet of area, and is the ultimate hangout spot for people of all ages.
                Food, Fashion & Entertainment Hub
                Housing food courts 
                luxury dining restaurants
                more than 1000 national and international brands.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
