<!DOCTYPE html>
<html lang="en">
<head>

    <title>MARVEL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link href="images/android-chrome-icon-194.png"  rel="icon">
</head>
<body style="background-color:rgb(24, 21, 21)">
    <div class="container-fluid">
      <div class="col-cd-12">

        <img src="images/MR.jpg" heref="Logo" style="height: 100px;;width:100%">

      </div>


    </div>


    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color:rgb(167, 7, 7)">MARVEL</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">MENU
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="mrlstd.html">Marvel Studios</a></li>
                    <li><a href="mrlcom.html">Marvel Comics</a></li>
                    <li><a href="chrcter.html">Characters</a></li>
                  </ul>
                </li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
              </ul>
            </div>
          </nav>


        
    </div>

    <div class="col-md-12">

      <div class="col-md-4" data-aos="fade-down-right" data-aos-duration="2000">
        <img src="images/cap.jpg" alt="Captain America" style="height:300px;width:100%">
        <li><a href="captainmerica.html" style="color: rgb(43, 36, 115) ; ;font-size: larger;font-style: oblique;"><b>CAPTAIN AMERICA</b></a></li>
      </div>

      <div class="col-md-4" data-aos="fade-down" data-aos-duration="2000">
        <img src="images/scene-Iron-Man.webp" alt="Iron Man" style="height:300px;width:100%">
        <li><a href="ironman.html" style="color: rgb(169, 4, 4) ; ;font-size: larger;font-style: oblique;"><b>IRON MAN</b></a></li>
      </div>

      <div class="col-md-4" data-aos="fade-down-left" data-aos-duration="2000">
        <img src="images/Thor.jpg" alt="Thor" style="height:300px;width:100%">
        <li><a href="thor.html" style="color: rgb(43, 36, 115) ; ;font-size: larger;font-style: oblique;"><b>THOR</b></a></li>
      </div>
      

    </div>
    <div class="col-md-12">

      <div class="col-md-4" data-aos="fade-up-right" data-aos-duration="2000">
        <img src="images/hulk.jpg" alt="Hulk" style="height:300px;width:100%">
        <li><a href="hulk.html" style="color: rgb(7, 104, 15) ; ;font-size: larger;font-style: oblique;"><b>HULK</b></a></li>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
        <img src="images/Scarlett_Johansson_as_Black_Widow.jpg" alt="Black Widow" style="height:300px;width:100%">
        <li><a href="blackwid.html" style="color: rgb(164, 162, 178) ; ;font-size: larger;font-style: oblique;"><b>BLACK WIDOW</b></a></li>
      </div>

      <div class="col-md-4" data-aos="fade-up-left" data-aos-duration="2000">
        <img src="images/Hawkeye.jpg" alt="Hawkeye" style="height:300px;width:100%">
        <li><a href="hawkeye.html" style="color: rgb(68, 10, 75) ; ;font-size: larger;font-style: oblique;"><b>HAWKEYE</b></a></li>
      </div>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
    </div>
    
</body>
</html>