{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Theur.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Shree Chintamani Vinayaka Temple Theur"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.106439334353!2d74.04378347546863!3d18.524091582570122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2dd38a375b43b%3A0xadd28743999b72f9!2sShree%20Chintamani%20Vinayaka%20Temple%20Theur!5e0!3m2!1sen!2sin!4v1683551660895!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>The Chintamani Temple of Theur is a Hindu temple dedicated to Supreme God Ganesha according to Ganapatya Sect located 25 km (16 mi) from Pune, the temple is "one of the larger and more famous" of the Ashtavinayaka, the eight revered shrines of Ganesha in the Indian state of Maharashtra.
                The temple lore describes how bhagwan Ganesh retrieved the wish-giving jewel Chintamani for his devotee, the sage Kapila from the greedy king Gana and how he pacifies the uneasy mind of the god Brahma, who meditated on him in Theur.
                The temple is associated with the Ganapatya saint Morya Gosavi (dated between 13th to 17th century). Though the temple is believed to have existed since antiquity, the current structure of the temple was built by him or his descendant.
                The Chintamani Temple was also a spiritual magnet for the Peshwa rulers, especially Madhavrao I (1745–1772) who renovated and made additions to the temple structure.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
