{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/coep.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="College of Engineering Pune (COEP)"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.989370387054!2d73.8539660739459!3d18.52938248256591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0883858b873%3A0x1d68fbf2cac75519!2sCOEP%20Technological%20University!5e0!3m2!1sen!2sin!4v1684426180022!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>College of Engineering, Pune (COEP), chartered in 1854 is a nationally respected leader in technical education.
                The institute is distinguished by its commitment to finding solutions to the great predicaments of the day through advanced technology.
                The institute has a rich history and dedication to the pursuit of excellence.
                COEP offers a unique learning experience across a spectrum of academic and social experiences.
                With a firm footing in truth and humanity, the institute gives you an understanding of both technical developments and the ethics that go with it.
                The curriculum is designed to enhance your academic experience through opportunities like internships, study abroad programmes and research facilities.
                The hallmark of CoEP education is its strong and widespread alumni network, support of the industry and the camaraderie that the institute shares with several foreign universities.
                The institute is consistently ranked amongst the top 20 technical colleges in India and its alumni have contributed a lion’s share in development of national infrastructure.


            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
