{%extends 'base.html'%}
{%block title%} HOLIDAY HUNT {%endblock title%}

{%block body%}

<head>

  <title>Survey Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/contact.css">
</head>

<body>
  <div class="heading">
    <h1 id="head">
      Contribution Form
    </h1>
    <h2 id="subheading">
      Form for adding a place
    </h2>
  </div>
  <form method="post" action="/contact.html">
    {% csrf_token %}
    <div id="content1">
      <label for="Name">Name</label><br><br>
      <input type="name" name="name" placeholder="Enter Your Name" class="box"> <br><br>
      <label for="Name">Email</label><br><br>
      <input type="email" name="email" placeholder="Enter Your Email" class="box"> <br><br>
      <label for="Name">Contact No.</label><br><br>
      <input type="Contact" name="more" placeholder="Enter Your Contact Number" class="box"> <br><br>
      <label for="Name">Name of Place</label><br><br>
      <input type="place" name="name" placeholder="Enter Name of Place" class="box"> <br><br>
      <br>
      <label for="Name">Address of Place</label><br><br>
      <input type="address" name="name" placeholder="Enter Address of Place" class="box"> <br><br>
      <label id="head2">Short information of place</label><br><br>
      <div id="content2">
        <textarea cols="100" rows="10" placeholder="Enter your comment here..."></textarea><br><br>
      </div>
      <a href="End page.html" type="button"><button>
          <h3 style="color: black;">Submit</h3>
        </button></a>
    </div>
  </form>

</body>
<style>
  button{
    background-color:transparent;
    font-weight: 200;
  }
</style>

</html>

{%endblock body%}