{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Durvankur.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Durvankur Dining Hall"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.401852354907!2d73.84359957546829!3d18.51073398258091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0743d25ceed%3A0x25e8a77a7b7cc853!2sDurvankur%20Dining%20Hall!5e0!3m2!1sen!2sin!4v1683138646969!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>One of the most popular dining restaurant in Pune City. Unlimited thali is speciality. Amaras poli is most popular dish. Staff is very knowledgeable and polite. Quick service is available. Online payment options are available. Great ambiance. pocket friendly restaurant.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
