{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/13.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Balgandharva Theater"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.15802249255!2d73.8457916739456!3d18.52175983257207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c185443a5b3d%3A0xdb23197e8851f2b6!2sBalagandharv%20Rang%20Mandir!5e0!3m2!1sen!2sin!4v1682543419390!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>The Bal Gandharva Ranga Mandir is a drama theatre with an auditorium and exhibition hall located in Shivajinagar area of Pune, India. It is named after Marathi singer and stage actor, Bal Gandharva.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}