{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/katrajzoo.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Raajiv Gandhi Zoological Park,Katraj"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.6877622080715!2d73.85860901489168!3d18.452480687448727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eac307f7a82f%3A0x3ac431343224b00b!2sRajiv%20Gandhi%20Zoological%20Park!5e0!3m2!1sen!2sin!4v1683137511620!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Rajiv Gandhi Zoological Park, also known as Katraj Snake Park, is among the popular zoos in India.
                It is a favourite among the local people and others who come to explore Pune.
                Rajiv Gandhi Zoological Park is divided into three sections: the zoo, a lake, and a snake park. 
                It also has a wildlife research centre, which serves as an animal orphanage, rescue centre and care centre.
                This Pune zoo snake park also has a small library, where you can find more information about snakes.
                The zoo organizes various animal welfare activities, environmental awareness events and guided tours too.
                And it is a must-visit place for nature lovers, experience seekers, and wildlife enthusiasts.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
