{% extends 'base.html' %}
{% block title %} HOLIDAY HUNT {% endblock title %}

{% block body %}

<style>
  .list-group-item-action img {
    border-radius: 50%;
  }
</style>

<div class="container my-4" data-aos="zoom-in">
  <br><br>
  <h1 color="Black"><b>पुणे तिथे काय उणे !</b></h1>
  <br><br>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="text-align: center;" width="100%">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="align-self: center;">Search</button>
  </form>
  <br></br>
  <style>
    form{
      position:relative;
      left:36%;
    }
    h1{
      position:relative;
      left:36%;
    }
  </style>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
      <div class="list-group">
        <h4>
          <a href="wetnjoy.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/wetnjoy.jpg" width="100" height="100"> &emsp;
            WetNJoy
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
      <div class="list-group">
        <h4>
          <a href="Entertainment.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/13.jpg" width="100" height="100"> &emsp;
            Bal Gandharva
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
      <div class="list-group">
        <h4>
          <a href="amanora.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/amanoramall.jpg" width="100" height="100"> &emsp;
            Amanora Mall
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
      <div class="list-group">
        <h4>
          <a href="katrajzoo.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/katrajzoo.jpg" width="100" height="100"> &emsp;
            Rajeev Gandhi Zoological Park
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <div class="list-group">
          <h4>
            <a href="tramp.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
              <img src="/static/tramp.jpg" width="100" height="100"> &emsp;
              Trampoline Park
            </a>
          </h4>
        </div>
      </div>

  </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

   <script>
      AOS.init();
    </script>

{% endblock body %}
