{% extends 'base.html' %}
{% block title %} HOLIDAY HUNT {% endblock title %}

{% block body %}

<style>
  .list-group-item-action img {
    border-radius: 50%;
  }
</style>

<div class="container my-4">
  <br><br>
  <h1 color="Black"><b>पुणे तिथे काय उणे !</b></h1>
  <br><br>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="text-align: center;" width="100%">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="align-self: center;">Search</button>
  </form>
  <br></br>
  <style>
    form{
      position:relative;
      left:36%;
    }
    h1{
      position:relative;
      left:36%;
    }
  </style>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
        <div class="list-group">
          <h4>
            <a href="Dagadusheth.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
              <img src="/static/Dagadusheth.jpg" width="100" height="100"> &emsp;
              Dagdushet Ganpati
            </a>
          </h4>
        </div>
      </div>

    <div class="col-md-6">
      <div class="list-group">
        <h4>
          <a href="Mahalaxmi.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/Mahalaxmi.jpg" width="100" height="100"> &emsp;
             Shri Mahalaxmi Mandir
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6">
      <div class="list-group">
        <h4>
          <a href="Chintamani.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/Theur.jpg" width="100" height="100"> &emsp;
            Chintamani Mandir Theur
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6">
      <div class="list-group">
        <h4>
          <a href="Omkareshwar.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/Omkareshwar_Temple.jpg" width="100" height="100"> &emsp;
            Omkareshwar Temple
          </a>
        </h4>
      </div>
    </div>


    <div class="col-md-6">
        <div class="list-group">
          <h4>
            <a href="Prati_Balaji.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
              <img src="/static/Prati_Balaji_Temple_Narayanpur.jpg" width="100" height="100"> &emsp;
              Prati Balaji
            </a>
          </h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="list-group">
          <h4>
            <a href="Ram_Mandir.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
              <img src="/static/Ram_Mandir.jpg" width="100" height="100"> &emsp;
              Shree Ram Mandir
            </a>
          </h4>
        </div>
      </div>

  </div>
</div>

{% endblock body %}
