{% extends 'base.html' %}
{% block title %} HOLIDAY HUNT {% endblock title %}

{% block body %}

<style>
  body {
    background-image: url(/static/20.jpg);
    background-color: rgb(163, 224, 248);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .list-group-item-action img {
    border-radius: 50%;
  }
</style>

<div class="container my-4">
  <br><br>
  <h1 color="Black"><b>पुणे तिथे काय उणे !</b></h1>
  <br><br>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="text-align: center;" width="100%">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="align-self: center;">Search</button>
  </form>
  <br></br>
  <style>
    form{
      position:relative;
      left:36%;
    }
    h1{
      position:relative;
      left:36%;
    }
  </style>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
        <h4>
          <a href="Historical.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/1.jpg" width="100" height="100"> &emsp;
            ShaniwarWada
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6">
      <div class="list-group">
        <h4>
          <a href="Shinde Chhatri.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/Shinde_Chhatri.jpeg" width="100" height="100"> &emsp;
            Shinde Chhatri
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6">
      <div class="list-group">
        <h4>
          <a href="Raja Dinkar Kelkar Museum.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/RDKMuseum.jpeg" width="100" height="100"> &emsp;
            Raja Dinkar Kelkar Museum
          </a>
        </h4>
      </div>
    </div>

    <div class="col-md-6">
      <div class="list-group">
        <h4>
          <a href="Parvati.html" class="list-group-item list-group-item-action" style="color: rgb(10, 9, 9);">
            <img src="/static/peshwa-museum.jpeg" width="100" height="100"> &emsp;
            Parvati Museum and Temple
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
