{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Nanasaheb_samadhi.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Samadhi of Shrimant Nanasaheb Peshwe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.3735177586273!2d73.83991947546834!3d18.512015582579934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c076052e7ae3%3A0x93506223ef2f5451!2sShrimant%20Nanasaheb%20Peshwe%20Samadhi!5e0!3m2!1sen!2sin!4v1683137405083!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>IN THE HEART OF PUNE on the banks of the Mutha River stands a memorial. This beautiful structure is shaped like a fortress with four bastions and is dedicated to the memory of Shrimant Balaji Baji Rao, also popularly known as Nanasaheb Peshwa.
                The memorial is located on the riverbank and one has to walk down a flight of stairs to access it. The memorial stands with the river on one side and a mural-covered wall on the other. The murals depict the life and times of Nanasaheb Peshwa and contain some beautiful artwork, including a map of India showing the details of the Maratha Empire during his time. 
                Nanasaheb Peshwa played a major role in the development of Pune. He built the first permanent bridge over the Mutha River. The bridge was made of wood and was known as Lakdi Pul. He developed several key areas and neighborhoods of the city, as well as established the reservoir at Katraj that brought clean water to the city.The city of Pune and the Maratha Empire witnessed a golden era during his tenure.
                Inside the memorial, etched on an inner wall, is an extract of the letter Nanasaheb Peshwa wrote to Nana Purandare in 1743. The memorial was erected at the spot where Nanasaheb Peshwa was cremated in 1761.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
