{%extends 'base.html'%}
{%block body%}
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="static/peshwa-museum.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Parvati Museum and Temple"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.700064329398!2d73.844327375468!3d18.49724038259175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c008d80eaaab%3A0xab4008bcfc6827e6!2sPeshwe%20Museum!5e0!3m2!1sen!2sin!4v1682947969797!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>The Peshwa museum is dedicated to the legacy and heritage of the Peshwa dynasty. Situated on Parvati Hill, the museum is housed in a section of the Peshwa Palace built in 1795 by Nanasaheb Peshwa.
                A section of this palace has now been converted into the Peshwa Museum.
                The museum houses many artefacts and collectives of the Peshwa era sourced from various Peshwa Mansions.
                The collectives include everything related to the Peshwa rulers, from weapons, clothes, jewellery, sword, a bathing tub, utensils, drums, matkas, and riding attire to street lamp posts, locks, furniture, musical instruments, and riding attire used by royalty.
                You will find maps, a Peshwa family tree as well as paintings of imminent Maratha leaders like Nanasaheb Peshwa, Chimaji Appa, Bajirao Peshwa, Mastani, and Balaji Vishwanath. 
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
