{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Pataleshwar.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Pataleshwar Cave"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.0437723291625!2d73.8470042754687!3d18.52692398256792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c07da562271b%3A0xc5764fb1009eeeba!2spataleshwar%20cave%20temples%2C%20Jangali%20Maharaj%20Rd%2C%20Revenue%20Colony%2C%20Shivajinagar%2C%20Pune%2C%20Maharashtra%20411005!5e0!3m2!1sen!2sin!4v1683134080112!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>The Pataleshwar Caves, also referred to as the Panchaleshvara temple or Bhamburde Pandav cave temple, are an 8th century rock-cut Hindu temple from the Rashtrakuta period located in Pune, Maharashtra, India. Dedicated to Shiva, it was a monumental monolithic excavation with a notable circular Nandi mandapa and a large pillared mandapa. 
                It is a temple of three rock-cut cave sanctums, likely dedicated to Brahma-Shiva-Vishnu originally, but currently to Parvati-original Shiva-Ganesha.
                A garden now surrounds the site, new idols have been placed elsewhere in the complex. The interior of the caves have suffered damage from vandalism. Outside, the monument shows the effects of natural elements over the centuries.
                The Pataleshwar temple is a protected monument of India and managed by the Archaeological Survey of India.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
