{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/pict.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="SCTR'S Pune Institute of Computer Technology (PICT)"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.5761898317287!2d73.84825867394363!3d18.457542082623803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eac85230ba47%3A0x871eddd0a8a0a108!2sSCTR&#39;S%20Pune%20Institute%20of%20Computer%20Technology!5e0!3m2!1sen!2sin!4v1684426571311!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Pune Institute of Computer Technology (popularly known as PICT), is an elite academic Institute located in Pune, “The Oxford of the East.”
                Since our establishment in 1983, PICT has been revolutionizing the education sector by nurturing skilled and industry-ready engineers.
                PICT is a UGC Approved Institute, ISO 9001:2015 Certified, and is NAAC Accredited (3rd Cycle).
                All the UG programmes are NBA Accredited (CE and E&TE – 7 times, IT – 5 times). PICT is ranked 8th among private Engineering Institutions in India, 1st among all private Engineering Institutions in Maharashtra, and 4th among all Engineering Institutions, including IITs, NITs, and Govt. Colleges in Maharashtra (as per the EDU-RAND ranking- 2015).
                PICT is placed in the ranking band: 201 to 250 as per the NIRF 2021 Ranking.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
