{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Prati_Balaji_Temple_Narayanpur.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Shri Prati Balaji Mandir"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9459.93422816237!2d73.92705470581512!3d18.254271847617165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bee0ddef0d0b%3A0xd876a5a401730645!2sShri%20Prati%20Balaji%20Mandir%2C%20Narayanpur%2CPune!5e0!3m2!1sen!2sin!4v1683554371777!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>At a distance of 45 km from Pune Junction, Sri Balaji Mandir, also known as Sri Venkateswara temple is a temple situated at Narayanpur near Kapurhol. It is a magnificent replica of the famous Sri Balaji Mandir in Thirumala. 
                The temple was constructed by V.H. Group for a whooping an amount of 27 crore rupees. There is a divine idol of Lord Venkateswara placed in the central sanctum. Not only the outer shell of the temple but the priests, religious activities seem to have the essence of the original Lord Venkateswara temple. There are also beautiful paintings that depict the life of the Lord in the temple. Apart from Lord Balaji, pilgrims can also spot small shrines of various other god and goddesses.
                The surroundings of the temple are very beautiful with lush greenery. There is hundi outside the temple to contribute the money for different activities. The temple is not very crowded most of the times and is devoid of pestering beggars. The well maintained temple is recommended for a divine relaxing evening.
                The temple offers free Prasad and meal for all the devotees. It also provides accommodation facilities. There is ample of parking space where visitors can comfortably park their two-wheelers or four-wheelers.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
