{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/pvg.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Pune Vidhyarthi Griha's College of Engineering and Technology (PVG)"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.859051703403!2d73.8498069739447!3d18.49004258259759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c004bc8e1d8f%3A0x12df641707ea878e!2sPVG&#39;S%20COET!5e0!3m2!1sen!2sin!4v1684427668934!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Pune Vidhyarthi Griha's College of Engineering and Technology is an engineering college affiliated with the University of Pune, located in Maharashtra, India.
                It was established in 1985 and is situated in Pune.
                The college is approved by the All India Council for Technical Education and by the government of Maharashtra.
                It is an affiliate to the Savitribai Phule Pune University and accredited ‘A’ by NAAC is one of the reputed engineering colleges in India.
                College provides courses on Engineering disciplines and offers some of the most advanced platforms and infrastructure to its students.

            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
