{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="static/RDKMuseum.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Raja Dinkar Kelkar Museum"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4029245929523!2d73.85185577546837!3d18.510685482580936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c073c7e01df5%3A0x45cf6b0362946df3!2sRaja%20Dinkar%20Kelkar%20Museum!5e0!3m2!1sen!2sin!4v1682946945135!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>It contains the collection of Dr. Dinkar G. Kelkar (1896–1990), dedicated to the memory of his only son, Raja.The three-storey building houses various sculptures dating back to the 14th century.
                The collection was started around 1920, and by 1960 it contained around 15,000 objects. The museum was established in 1962, and Dr. Kelkar donated his collection to the Government of Maharashtra in 1975.
                The museum now holds over 20,000 objects of which 2,500 are kept on display. These consist of mainly Indian decorative items from everyday life and other art objects, mostly from the 18th and 19th centuries.
                The museum's collection depicts the skills of the Indian artists of the time, including the prominent works of Pandit Abhijeet Joshi.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
