{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Ram_Mandir.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Tulshibaug Shri Ram Mandir"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.3349105935085!2d73.85278987546837!3d18.513761682578515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c06e6a4e3f97%3A0xae67d104e0390548!2sTulshibaug%20Shri%20Ram%20Mandir!5e0!3m2!1sen!2sin!4v1683554833799!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>The origins of Budhwar Peth date back to 1703, when the Mughal Emperor Aurangzeb camped here in a jujube (also known as red or Chinese date) garden, then south of the city.
                During the time of the fourth Peshwa, Madhav Rao I (1761 – 1772), the peth was significantly redeveloped by Govind Shivram Khasgiwale who encouraged the establishment of shops and widened the roads.
                The peth became an important commercial area and once contained a government mansion, Budhwar Wada, that was burnt down in 1879.
                After the battle of Panipat in 1761 a nobleman in the Peshwa court, Naro Appaji Khire (later to be known as Tulshibagwale b.1700 d.1775), started the construction of Tulshibaug to boost the morale of the people of Pune.
                Work commenced on the one acre site in 1763 and was finally completed 32 years later in 1795 at a reputed cost of Rs.136,667
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
