{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>

<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/ravivar_peth.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Ravivar Peth"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7566.611450463435!2d73.8566491387769!3d18.51508155386129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c06bc93bdedd%3A0x5bd726ad5c1c2a1a!2sRaviwar%20Peth%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1682945497235!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Raviwar Peth is one of the Peths in the city of Pune, India. 
                Raviwar Peth is famous for shops of Gold and Silver ornaments.
                Famous for its plastic products market.
                This area also has a wholesale textile market, well known in Pune.
                
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
