{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Sainath.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Sainath Khanawal"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.35726917153!2d73.84177167546844!3d18.512750482579342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0765d8202f5%3A0x4a0da245230e98ad!2sSainath%20Khanawal%2C!5e0!3m2!1sen!2sin!4v1683141415340!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Always full with the people and serves tasty authentic Maharashtrian food. Also this place is pocket friendly which serves some fantastic non-vegetarian dishes.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
