{%extends 'base.html'%}
{%block body%}
<style>
    body {
      background-image: url('/static/7.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-blend-mode: overlay;
    }
</style>
  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/12.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Phoenix City Mall"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15132.835157912874!2d73.8553175!3d18.5194647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c065144d8edf%3A0x3703b8095866c54b!2sShaniwar%20Wada!5e0!3m2!1sen!2sin!4v1682530663392!5m2!1sen!2sin" width="90%" height="450" style="border: 100px; color: black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Phoenix Marketcity is a shopping mall developed by Phoenix Mills Limited, located in Pune, Maharashtra. It was opened in June 2011 and is one of the largest malls in India, with a retail area of 1.19 million square feet.It is located in the Vimannagar area of Pune.

                Phoenix Marketcity has five floors of retail space and several features such as a retail zone, a food court with fine dining restaurants and quick service restaurants and a nine-screen PVR Cinemas.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}