{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/sinhgad.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Sinhgad College of Engineering (SCOE)"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.3460673770937!2d73.83420907394397!3d18.467977182615343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf8d94414f8f%3A0xc6091a80e79be235!2sSinhgad%20College%20of%20Engineering%2C%20Pune!5e0!3m2!1sen!2sin!4v1684428735946!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Sinhgad College of Engineering (SCOE) is private unaided institution that was established in the year 1996.
                The institute offers eight undergraduate engineering programmes of four year duration namely Mechanical Engineering, Electronics & Telecommunication Engineering, Computer Engineering, Chemical Engineering, Information Technology, Production Engineering, Civil Engineering, Bio-Technology.
                Six engineering departments are offering post-graduate programs.
                The department of Mechanical Engineering, Electronics & Telecommunication Engineering, Chemical Engineering and Civil Engineering are recognized Ph.D. Research Centre by University of Pune.
                The institute also offers a post-graduate program leading to MBA degree.
                It has a total under-graduate and post-graduate enrollment of 1200 and 338 students respectively.
                There are 126 students registered for Ph.D. with this research center. All the courses are approved by All India Council for Technical Education (AICTE) and affiliated to University of Pune.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
