{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/Sp's Biryani.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="SP's Biryani House"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4553260942703!2d73.84774837546824!3d18.508315082582847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0731cc7a2e9%3A0x55214ebee127c98b!2sSP&#39;s%20Biryani%20House!5e0!3m2!1sen!2sin!4v1683141539282!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>The taste of every single item is absolutely delicious and the meat quality as well as quantity is outstanding! 
                Lip smacking food. Amazing Maharashtra style biryani. Spicy and delicious.Famour for all kinds of Biryanis and Non-Veg starters.
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
