{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/tramp.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Butterfly Trampoline Park- Hinjawadi"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.517559024721!2d73.72401967394798!3d18.595776682512422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bb346247f143%3A0x4d3b09259d09bbab!2sButterfly%20Trampoline%20Park%20-%20Hinjawadi%20(Pune)!5e0!3m2!1sen!2sin!4v1683138460625!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Butterfly Trampoline Park is a Family amusement park with trampolines courses, plus climbing walls, foam pits & Zumba sessions.
                YOu can Bounce, jump and fly through our indoor trampolines and exiting games at Butterfly Trampoline Park - Hinjawadi Pune.
                It has unrestricted access to Party Hall,Dance Floor,Trampolines,Ninja Warriors,Climbing Wall,Foam Pit.
                Visit as early as possible with your family and kids!

            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
