{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/vishram-bagh-waada.jpeg" width="700" height="500" style="border:100; border-color: black;">
            </div>
      <div class="col-md-6  my-4">
            <map name="Vishrambaug Wada"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.333307505409!2d73.85110177546838!3d18.513834182578417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c06e20750ff1%3A0x2ef3b67bf88d87f!2sVishrambaug%20Wada!5e0!3m2!1sen!2sin!4v1683136364627!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
      </div>

    </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Vishrambaag Wada, a fine mansion situated at central Pune's Thorale Bajirao Road, was the luxurious residence of Peshwa Baji Rao II, the last Peshwa of Maratha confederacy, in early 19th century.
                The 20,000 sq.ft. wada presently houses a post office on its ground floor, a few other offices of the municipal corporation and a small museum of Maratha artifacts put together by noted Maratha historian, Babasaheb Purandare.
                Vishrambaug Wada was built in 1807 AD at the price of Rs 200,000. It took six years to complete the construction.[2] Baji Rao II preferred this residence to the ill-fated Shaniwar Wada, the citadel of the Peshwas.
                Baji Rao II stayed here for eleven years until his defeat in the Third Anglo-Maratha War. 
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
