{%extends 'base.html'%}
{%block body%}

  
<body style="background-color:rgb(248, 248, 247)">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="/static/wetnjoy.jpg" width="700" height="500" style="border:100; border-color: black;">
            </div>
            <div class="col-md-6  my-4">
            <map name="Wet N Joy Waterpark & Amusement Park"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777.7976929338492!2d73.51143527395331!3d18.76257148237857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2abb216646867%3A0x13c74f32bdfc2c55!2sWet%20N%20Joy%20Waterpark%20%26%20Amusement%20Park!5e0!3m2!1sen!2sin!4v1682963853160!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></map>
        </div>

        </div>
        <div class="col-md-12">
        <p style="color:rgb(0, 0, 0);text-align: justify ; font-style: italic;">
            <h4><b>Wet N Joy ,Lonavala Water Park India’s first water coaster, first & largest crazy river, largest wave pool.
                 Water rides are excellent, thrill, adventure, fun and enjoyment with your family, friends, & groups.
                  Wetnjoy has various offers going on for the different age groups. the top attraction of water park are Volcano, wave pool, Master Blaster, Tornato, different rides, events, games make you a moment of Joy.
                  With 26+ international rides to enjoy.....
            </b></h4>
        </p>
      </div>

    </div>
    
</body>
</html>

{%endblock body%}
